# Vim
*.sw*

# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat
## Build artifiacts
/artifacts
/cache
/types
/coverage

## Deployment artifacts
ignition/deployments/

